.movies-card {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
  max-width: 360px;
}

.movies-card__image {
  border-radius: 6px;
  cursor: pointer;
  max-width: 360px;
  height: 201px;
  object-fit: cover;
}

.movies-card__content {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.movies-card__title {
  font-size: 13px;
  font-weight: 500;
  line-height: 15.73px;
  margin: 0;
}

.movies-card__duration {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 10px;
  color: #8B8B8B;
  background-color: #2F2F2F;
  width: 52px;
  height: 18px;
  border-radius: 3px;
  margin: 0;
}

.movies-card__btn {
  position: absolute;
  right: 14px;
  top: 14px;
  opacity: 0;
  transition: opacity .35s ease-in-out;
  cursor: pointer;
}

.movies-card:hover .movies-card__btn {
  opacity: 1;
}

.movies-card__btn-save {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 9px;
  background-color: #313131;
  color: #FFFFFF;
  border: none;
  border-radius: 30px;
  padding: 0;
  width: 72px;
  height: 21px;
  cursor: pointer;
}

.movies-card__btn-saved {
  background-image: url(../../images/btn-saved.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 30px;
  width: 21px;
  height: 21px;
  background-color: #EE3465;
}

.movies-card__btn-delete {
  background-image: url(../../images/btn-delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 30px;
  width: 21px;
  height: 21px;
  background-color: #313131;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .movies-card {
    max-width: 339px;
  }
}