.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px 40px 0;
}

.promo__title {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 160px 0 151px;
  max-width: 730px;
}

@media screen and (max-width: 769px) {
  .promo {
    max-width: 728px;
    margin: 20px 20px 0;
  }

  .promo__title {
    font-size: 40px;
    line-height: 52px;
    margin: 350px 0 314px;
    max-width: 680px;
  }
}

@media screen and (max-width: 321px) {
  .promo {
    max-width: 292px;
    margin: 14px 14px 0;
  }

  .promo__title {
    font-size: 29px;
    line-height: 37px;
    margin: 220px 0 212px;
  }
}
