.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 70px;
}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.header__logo-link {
  height: 38px;
  width: 38px;
}

.header__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  transition: filter 1s;
}

.header__link:hover {
  filter: opacity(70%);
}

.header__link-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 32px;
  color: #000000;
  background-color: #3DDC84;
  border-radius: 3px;
}

.header__auth-content {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 769px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 321px) {
  .header {
    padding: 18px 14px;
  }

  .header__content {
    gap: 14px;
  }

  .header__link {
    font-size: 10px;
    line-height: 16px;
  }

  .header__link-login {
    width: 54px;
    height: 26px;
  }
}

